/*all colors that i used */
:root {
    --white: #FFFFFF;
    --light-black: #4F4F4F;
    --dark-black: #222222;
    --gray: #EEEE;
    --orange: #FD8558;
    --litte-text: #999999;
    --purple: #3A0F73;
}