.swiper__block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.swiper__wrapper {
    display: none;
    margin-top: 80px;

}

.swiper__title {
    text-align: center;
    margin-top: 80px;
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 1200px){
    .swiper__wrapper {
        display: flex;
        margin-top: 50px;
    }

    .team__button {
        margin-top: 10px;
    }

    .swiper__title {
        display: flex;
    }
}

.scroll__text {
    color: var(--orange);
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    .team__members-block {
        width: 600px;
        height: 600px;
    }
}