.burger__menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../../images/IMAGE.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.burger__container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger__text {
    letter-spacing: 0.2px;
    text-transform: lowercase;
    font-size: 30px;
    margin-top: 20px;
    color: white;
}

.burger__title {
    color: white;
}

.burger__button {
    margin-top: 40px;
}

